<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세페이지</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>
    <table class="tb_col">
        <tr>
            <th>actor_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>last_update</th>
        </tr>
        <tr th:each="act : ${actorList}">
            <td th:text="${act.actor_id}"></td>
            <td th:text="${act.first_name}"></td>
            <td th:text="${act.last_name}"></td>
            <td th:text="${act.last_update}"></td>
        </tr>
    </table>

</body>
</html>