<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout  input {
        width : 100%;
        box-sizing: border-box;
    }

    .layout  textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }

</style>
<script>

const socket = new WebSocket("ws://localhost:8080/ws");

// 커넥션이 제대로 생성되었을 때
socket.onopen = function (e) {
    let data = {
        action: "good",
        subscribe: "test",
    };
    socket.send(JSON.stringify(data))
};


let result;
let price;

// 데이터를 수신 받았을 때
socket.onmessage = async function (e) {
    try {
        if (e !== null && e !== undefined) {
            result = await JSON.parse(e.data);
            price = result[0];
            document.getElementById("test").innerHTML = `$ ${price}`
        }
    } catch (err) {
        console.log(err);
    }
};

// 에러가 발생했을 때
socket.onerror = function (e) {
    console.log(e);
};
</script>
<body>
    <div class="layout">
        <form action="/board/writepro" method="post" enctype="multipart/form-data">
            <input name="title" type="text">
            <textarea name="content"></textarea>
            <input type="file" name="file">
            <button type="submit">작성</button>
        </form>
    </div>

</body>
</html>