<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세페이지</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>
    <table class="tb_col">
        <tr>
            <th>customer_id</th>
            <th>store_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>address_id</th>
            <th>active</th>
            <th>create_date</th>
            <th>last_date</th>
        </tr>
        <tr th:each="customer : ${customerList}">
            <td th:text="${customer.customer_id}"></td>
            <td th:text="${customer.store_id}"></td>
            <td th:text="${customer.first_name}"></td>
            <td th:text="${customer.last_name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address_id}"></td>
            <td th:text="${customer.active}"></td>
            <td th:text="${customer.create_date}"></td>
            <td th:text="${customer.last_update}"></td>
        </tr>
    </table>

</body>
</html>