<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세페이지</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>
    <table class="tb_col">
        <tr>
            <th>film_id</th>
            <th>title</th>
            <th>dsc</th>
            <th>rel_year</th>
            <th>lang_id</th>
            <th>org_lang_id</th>
            <th>ren_dura</th>
            <th>ren_rate</th>
            <th>length</th>
            <th>rps_cost</th>
            <th>rating</th>
            <th>sp_fc</th>
            <th>last_update</th>
        </tr>
        <tr th:each="film : ${filmList}">
            <td th:text="${film.film_id}"></td>
            <td th:text="${film.title}"></td>
            <td th:text="${film.description}"></td>
            <td th:text="${film.release_year}"></td>
            <td th:text="${film.language_id}"></td>
            <td th:text="${film.original_language_id}"></td>
            <td th:text="${film.rental_duration}"></td>
            <td th:text="${film.rental_rate}"></td>
            <td th:text="${film.length}"></td>
            <td th:text="${film.replacement_cost}"></td>
            <td th:text="${film.rating}"></td>
            <td th:text="${film.special_features}"></td>
            <td th:text="${film.last_update}"></td>
        </tr>
    </table>

</body>
</html>